/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eae7de;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Header */
  header {
    background-color: #e3dfd4;
    height: 40px;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    
  }
  
  .logo {
    margin-left: 20px;
    float: left;
  }
  
  .logo img {
    height: 40px;
  }
  
  .primer-menu {
    float: right;
  }
  
  .primer-menu ul {
    list-style: none;
    margin-right: 30px;
  }
  
  .primer-menu ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .primer-menu ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.4s ease;
  }

  .primer-menu ul li a:hover{
    background-color: rgb(238, 75, 42,0.8);
    border-radius: 5px;
  }
  
  /* Menú secundario */
  .segundo-menu {
    background-color: #ee4b2a;
    height:40px;
    padding: 10px;
    text-align: center;
    
  }
  
  .segundo-menu ul {
    list-style: none;
    margin-top:0;
    padding: 5px;
  }
  
  .segundo-menu ul li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .segundo-menu ul li a {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #eae7de;
    padding: 5px;
    transition: transform 0.3s ease;
  }

  .segundo-menu ul li a:hover{
    border-bottom: 2px solid #2e2e2e;
  }
  
  /* Contenido */
  .contenedor-sobre-nosotros{
    text-align: center;
    margin: 0;
    min-height: 300px;
    padding: 50px;
    align-items: center;
    flex: 1;
  }
  
  .contenedor-sobre-nosotros h2 {
    color: #2a2a2a;
    font-size: 2.7em;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .contenedor-sobre-nosotros .text-container {
    text-align: left;
  }
  
  .contenedor-sobre-nosotros .text-container h3 {
    color: #2a2a2a;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .contenedor-sobre-nosotros .text-container p {
    color: #2a2a2a;
    font-size: 1.2em;
    line-height: 1.5;
  }

  .empresa-info{
    padding: 20px, 20px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .empresa-info .image-container{
    flex: 1;
  }
  .empresa-info .text-container{
    flex: 1;
  }
  .programa-info{
    padding: 20px, 20px;
    display: flex;
    
    
  }
  .programa-info .image-container{
    flex: 1;
    margin-top:10%;
  }
  .programa-info .text-container{
    flex: 1;
  }



 /* Footer */
.footer {
    background-color: #eae7de;
    padding: 20px;
    color: #2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
  }
  
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
  }
  
 
  .footer-container .logo img {
    height: 40px;
  }
  
  .footer-container .logo{
    text-align: center;
    margin-top: 40px;
}

  .footer-container .cont {
    text-align: left;
  }
  
  .footer-container .cont h4 {
    
    margin-bottom: 10px;
    border-bottom: 2px solid #ee4b2a;
  }
  
  .footer-container .cont ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-container .cont ul li {
    margin-bottom: 5px;
  }
  
  .footer-container .cont ul li a {
    color: #2e2e2e;
    text-decoration: none;
  }

 
  .footer a{
    display: inline-block;
    transition: transform 0.2s ease;
    
  }
  .footer a:hover{
    transform: scale(1.1);
  }
 
 
  .footer-container .social-icons {
    text-align: center;
    align-items: center;
  }

  .footer-container .social-icons h4 {
    
    border-bottom: 2px solid #ee4b2a;
   
    margin-left: 10px;
  }
  
  .footer-container .social-icons a {
    color: #2e2e2e;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .footer-container .social-icons i {
    font-size: 20px;
  }
 
  @media screen and (max-width: 640px) {
    .contenedor form {
      flex-direction: column;
      justify-content: center;
    }
  
    .contenedor input[type="text"] {
      margin-bottom: 10px;
      width: 80%;
    }
    .segundo-menu{
        height: auto;
    }
    .segundo-menu ul {
       display: flex;
       flex-direction: column;
       justify-content: center;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
      }
      .footer-container .cont {
        text-align: center;
      }
    .footer-container .logo{
        padding-top: 10px;
    }
    .footer{
        text-align: center;
    }
    
  }

  @media screen and (max-width: 1000px){
    .empresa-info{
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
    .programa-info{
        flex-direction: column;
        text-align: center;
    }
}

  